@import "variables.scss";
@import "main.scss";

a {
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.card__container {
  background: $black;
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;

  &:hover {
    .card-image {
      opacity: 0.4;
    }
  }

  &:hover h5 a {
    text-decoration: none;
  }

  &:hover .card-bottom {
    display: inline;
  }

  .card__details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    padding: 32px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.apply {
      background-image: url("../images/apply-sm.jpg");
    }

    &.donate {
      background-image: url("../images/donate-sm.jpg");
    }

    &.internship {
      background-image: url("../images/work-experience-sm.jpg");
    }

    &.recycle {
      background-image: url("../images/recycle-sm.jpg");
    }

    h2 {
      color: $white;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 3rem;
      width: 85%;
      margin-top: 16px;
    }
  }
}
