@import "variables.scss";
@import "breakpoint.scss";

.footer {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  img {
    max-width: 45%;

    @include media(">=tablet", "<1200px") {
      max-width: 20%;
    }

    @include media("<=tablet") {
      max-width: 30%;
    }
  }

  h4 {
    color: $white;

    &.mobile {
      @include media("<=tablet") {
        margin-top: 3rem;
      }
    }
  }
  p {
    color: $lightBlue;
    @include media("<=tablet") {
      margin-bottom: 0;
    }
  }
}
