@import "variables.scss";
@import "breakpoint.scss";

.home {
  .alert-container {
    position: relative;
    z-index: 10;
  }

  .hero-banner {
    background-image: url(../../assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 5;
    width: 100%;
    overflow: hidden;

    .hero__container {
      @include media(">900px", "<992px") {
        max-width: 930px;
      }

      .hero__inner {
        height: 100vh;
        align-items: center;
        justify-content: space-between;

        .hero__caption {
          @include media("<tablet") {
            padding: 0 1.5rem;
          }

          h1 {
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 14px;
            color: $darkBlue;
            line-height: 1.2;
            text-transform: capitalize;
            margin-bottom: 29px;

            @include media("<=1200px") {
              font-size: 40px;
            }
          }
          p {
            color: $lightBlue;
            width: 75%;
          }

          .btn-row {
            width: 256px;
            position: relative;
            z-index: 2;

            a {
              font-size: 1.7rem;
              font-weight: 600;
              text-decoration: none;
              color: $yellow;
              svg {
                margin-left: 16px;
                border: 1px solid $yellow;
                padding: 6px;
                height: 35px;
                width: 35px;
                border-radius: 100px;
                transition: 0.4s ease-in-out;
              }

              &:hover {
                svg {
                  background-color: $yellow;
                  color: $white;
                }
              }
            }
          }
        }

        .hero__image {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 100vh;
          .hero__image__inner {
            overflow: hidden;

            img {
              position: relative;
              width: 100%;

              @include media("<=900px") {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.why-donate,
.counter,
.annoucement {
  padding: 5rem 0;

  .row {
    @include media("<=tablet") {
      padding: 0 30px;
    }
  }
}

.services {
  margin: 40px auto;
  padding: 3rem 4rem;
}

.counter {
  background-color: $lightGray;
}

// WHY DONATE
.why-donate {
  background-image: url(../../assets/images/why-donate-primary.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media("<=1200px") {
    background-image: none;
    background-color: $darkBlue;
  }

  .offset-xl-6 {
    @include media(">=1200px", "<=desktop") {
      margin-left: 45%;
    }
  }

  @include media("<=tablet-landscape") {
    background-position: right center;
  }

  img {
    max-width: 1.5rem;
  }

  h1,
  h5 {
    color: $white;
  }

  p {
    color: $lightBlue;
  }
}

.counter {
  @include media("<992px") {
    text-align: center;
  }

  img {
    max-width: 4rem;
  }
  h1 {
    margin-bottom: 1.2rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: $yellow;

    @include media(">992px", "<=tablet-landscape") {
      font-size: 3rem;
    }
  }

  p {
    color: $lightBlue;
    @include media("<992px") {
      margin-bottom: 4.5rem;
    }
  }
}

// ANNOUNCEMENT
.announcement {
  color: $white;
  margin: 5rem 0;

  .announcement-container {
    background-color: $darkBlue;
    padding: 4rem 10rem;
    box-shadow: 5px 5px rgba(0, 31, 97, 0.2), 10px 10px rgba(0, 98, 90, 0.1),
      15px 15px rgba(0, 98, 90, 0.05);

    @include media(">tablet", "<tablet-landscape") {
      padding: 3rem;
    }

    @include media(">phone-landscape", "<tablet") {
      padding: 4rem;
    }

    @include media("<phone-landscape") {
      padding: 4rem 3rem;
    }

    .announcement-title {
      h1 {
        letter-spacing: 3px;
      }
      h6 {
        color: $lightBlue;
      }
    }
  }

  .more {
    justify-content: flex-end;

    @include media("<992px") {
      justify-content: center;
    }

    button {
      border-radius: 0;
      padding: 0.5rem 1.5rem;
      background-color: $lightGray;
      color: $darkBlue;
      outline: none;
      border: 0;
      transition: all 0.3s ease-out;

      &:hover {
        color: $white;
        outline: 0;
        box-shadow: none;
        background-color: $yellow;
      }
    }
  }
}

// PARTNERS
.partners {
  padding: 0;
  background-color: $lightGray;

  .partners-container {
    padding: 5rem 6rem 1rem;
  }

  .partners-title {
    margin-bottom: 0.5rem;

    h1 {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      color: $darkBlue;
    }

    p {
      color: $lightBlue;
      margin-bottom: 2.5rem;
    }
  }

  .slick-slider {
    width: 100%;

    .slick-prev:before,
    .slick-next:before {
      font-family: "slick";
      font-size: 25px;
      line-height: 1;
      opacity: 1;
      color: $darkBlue;
    }

    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1.8rem;

      img {
        max-width: 100%;
      }
    }
  }

  .partners-list {
    background-color: $white;
    padding: 3rem 0;
    border-radius: 10px;

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      &.small-img {
        img {
          max-width: 25%;
        }
      }

      img {
        max-width: 50%;
      }
    }
  }
}

// Contributors
.contributors {
  padding: 1.5rem 0;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: $darkBlue;
  }

  img {
    max-width: 100%;
  }
}
