/* Custom CSS */

@import "variables.scss";

/* fonts */
@import "../fonts/fonts.css";

html ::-webkit-scrollbar {
  width: 0.4em;
}

html ::-webkit-scrollbar-thumb {
  background: $lightBlue;
}

html ::-webkit-scrollbar-track {
  background: #333333;
}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  overscroll-behavior: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  width: 100vw;
}
