@import "variables.scss";
@import "breakpoint.scss";

.post {
  @include media("<992px") {
    margin-bottom: 1.2rem;
  }

  .post__date {
    text-align: center;
    border-right: 2px solid;
    color: $yellow;
    text-transform: uppercase;

    @include media("<992px") {
      border-right: none;
      margin-bottom: 1rem;
    }
  }
  .post__content {
    p {
      @include media("<tablet") {
        margin-left: 0 !important;
        text-align: center;
      }
    }
  }
}
