.hero-container {
  background-image: url(../../assets/images/h1_hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;

  .hero__caption h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 14px;
    color: var(--color-primary);
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 29px;
  }

  .hero__caption p {
    color: var(--color-light);
    width: 75%;
  }
}
